@charset "utf-8";

/*

    The Wings Group
    Author: Hao Ren Yuan
    Date: June 6, 2023

    Filename: visual_layout.css
*/


/* Create a sticky/fixed navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    height: 70px;
    background-color: #ebe8e5;
    padding: 70px 10px; /* Originally 103px 10px Large padding which will shrink on scroll (using JS) */
    transition: padding 0.125s ease; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    left: 0;
    z-index: 99;
    text-align: center;
  }

  /*
  .shapeshift {
    height: 100%;
  }


  #navbar {
    padding: 30px 10px;
  } */

  /* Style the logo 

  img {
    transition: 0.4s;
  }
  */

  .container {
    height: 150px; /* Set the initial height of the container */
    width: 150px;
    overflow: hidden; /* Hide the overflow when the image size changes */
    position: absolute;
    top: -50px;
    
  }


  #logo {
    width: 150px; /* Set the initial width of the image of the hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    justify-content: flex-start;
    position: absolute;
    left: 10px;
    top: -5px;
  }

  /* Style the navbar links */
  #navbar a {
    font-weight: bold;
    position: relative;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
  }

  a{
    transition: all 0.5s ease-out;
  }

  .diversity-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .diversity-header img {
    width: 100%;
    height: auto;
  }

  .diversity-header h1 {
    padding: 20px;
    padding-bottom: 0px;
    font-family: /*'Savoye LET Plain',*/ sans-serif ;
    font-size: 40px;
    font-style: italic;
    opacity: 1;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
  }

  /*.words-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #f9f9f9; */
    
    /*background-image: url(Assets/working.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
/*}*/

/*#hyperfocused,
#wedoit,
#markad {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  padding: 10px; 
  border-radius: 8px; 
  margin-bottom: 90px; 
  
}

  #hyperfocused {
  color: #4287f5 ; 
  background-color: #e3f1ff ;
}

#wedoit {
  color: #ffffff;
  background-color: #ffcc00; 
}


#markad {
  color: #009999; 
  background-color: #FFFFCC;
}

#duration {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  padding: 10px; 
  border-radius: 8px;
  margin-bottom: 90px; 

  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: #460080; 
}

*/

ul.words-container li {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  list-style-type: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh; 
  align-items: center;
  margin-right: 50px;
}

ul#duration-type li {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  list-style-type: none;
}

#duration-type li {
  background-color: #ebe8e5;
  padding: 10px;
  margin-right: 100px;
  }

#duration-type li:last-child {
  margin-right: 0;
}

#duration-type {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: #ebe8e5;

}

/* Add border to the first li element */
#duration-type li:first-child {
  border-left: 2px solid #000; /* Adjust the border style and color as per your preference */
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 8px 0 0 8px; /* Adjust the border radius to control the rounded corners */
}

#duration-type li:not(:first-child):not(:last-child) {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 0 0 0 0; /* Adjust the border radius to control the rounded corners */
}

/* Add border to the last li element */
#duration-type li:last-child {
  border-right: 2px solid #000; /* Adjust the border style and color as per your preference */
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 0 8px 8px 0; /* Adjust the border radius to control the rounded corners */
}

#duration-type ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.columns-container li:nth-child(even) {
  background-color: #ebe8e5;
}

/*.words-container li:nth-child(even) {
  background-color: #ebe8e5;
}*/

li#color-it {
  padding: 10px;
  justify-content: center;
  background-color: #ebe8e5;
}

.columns-container {
  display: flex;
  justify-content: space-between;
}

.columns-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-column,
.middle-column,
.right-column {
  flex: 1; /* Equal width for all columns */
}

.left-column li,
.middle-column li,
.right-column li {
  list-style-type: square;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Add styling for the list items */
.columns-container li {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

#area-column {
  font-size: 25px;
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#commitment {
  display: flex;
  align-items: center;
}

#diversity-eyes, #commitment-descriptions {
  flex: 1;
}

#diversity-eyes {
  margin-right: 30px;
}

#diversity-eyes img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

#commitment-descriptions {
  margin-right: 50px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Below is for whyus.html*/

#why-us-container {
  display: flex;
  align-items: center;
}

#why-us-container h2{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.why-us-topic {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;

  display: flex;
  justify-content: center;
  align-items: center;
}

#impressive-rock, #why-us-descriptions {
  flex: 1;
}

#why-us-descriptions {
  font-weight: bold;
  margin-right: 20px;
}

.industries {
  margin-left: 40px;
}

.subtopics {
  margin-left: 40px;
}

#impressive-rock img {
  width: 100%;
  height: auto;
}

/*Below is for employers.html*/

#employers-container {
  display: flex;
  /*align-items: center;*/
}

#employers-container h2{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

#employers-container h3{
  font-size: 25px;
  font-weight: bold;

  display: flex;
  align-items: center;
}

#employers-descriptions {
  font-weight: bold;
  margin-right: 20px;
}

#work-force, #employers-descriptions {
  flex: 1;
}

#work-force img {
  width: 100%;
  height: auto;
}

/*Below is for jobseekers.html*/

#jobseekers-container {
  display: flex;
  /*align-items: center;*/
}

#jobseekers-container h2{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;

  display: flex;
  justify-content: center;
  align-items: center;
}

#jobseekers-descriptions {
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
  align-items: center;
}

#handshake, #jobseekers-descriptions {
  flex: 1;
}

#handshake img {
  width: 100%;
  height: auto;
}

/*Below is for contact.html*/

#contact-container {
  display: flex;
  /*align-items: center;*/
}

.contactTopic {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;

  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-container h2{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

#contact-descriptions {
  font-weight: bold;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

#diverse-chilling, #contact-descriptions {
  flex: 1;
}

#diverse-chilling img {
  width: 100%;
  height: auto;
}

/*Below is for email send button within contact.html*/

/*.prompt-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.prompt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.prompt-box label,
.prompt-box input {
  display: block;
  margin-bottom: 10px;
}

.prompt-box input[type="text"],
.prompt-box input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.prompt-box button {
  margin-top: 15px;
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.prompt-box button.cancel {
  background-color: #f44336;
  margin-right: 10px;
}

.message-error {
  color: red;
  font-size: 14px;
}*/

/*Below is the follow us on social for all pages*/
#social{
  background-color: #ebe8e5;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

#facebook:hover,
#instagram:hover,
#linkedin:hover,
#twitter:hover {
  opacity: 0.7;
}

/*Footer is for all pages below*/
  footer {
    bottom: 100%;
    width: 100%;
    background-color:bisque;
  }
  
  /* Links on mouse-over */
  #navbar #logo:hover {
    /*background-color: #1f1fb3;
    color: black;
    right: 200%;*/
  }

  #navbar .link:hover, .link:focus{
    background-color: #ddfffe;
    opacity: 0.8;
    color: black;
  }

  /*.dropbtn {
    font-weight: 100;
    position: relative;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;  Spacing between links, adjust as needed 
  }

  #navbar .dropdown-content .list {
    white-space: nowrap; Allows content in one line
    color: white;
    
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9d9d9d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/
  
  /* Style the active/current link 
  #navbar b.active {
    background-color: dodgerblue;
    color: white;
  }*/
  
  /* Display spacing below the logo for the links within the navbar */
  #navbar-center {
    margin-top: 0px; /*Adjust as needed*/
  }
  
  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    #logo {
      width: 150px; /* Set the initial width of the image of the hover */
      transition: transform 0.3s ease; /* Add a smooth transition effect */
      margin-top: 10px;
      left: 10px;
    }

    #navbar #navbar-center {
      padding: 0px;
    }

    #navbar a {
      float: none;
      display: block;
      text-align: left;
      margin-bottom: 10px;
    }

    #navbar-right {
      float: none;
    }
  }
