@charset "utf-8";

/*

    The Wings Group
    Author: Hao Ren Yuan
    Date: June 6, 2023

    Filename: visual_layout.css
*/


/* Create a sticky/fixed navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    height: 70px;
    background-color: #ebe8e5;
    padding: 70px 10px; /* Originally 103px 10px Large padding which will shrink on scroll (using JS) */
    transition: padding 0.125s ease; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    left: 0;
    z-index: 99;
    text-align: center;
  }

  /*
  .shapeshift {
    height: 100%;
  }


  #navbar {
    padding: 30px 10px;
  } */

  /* Style the logo 

  img {
    transition: 0.4s;
  }
  */

  .container {
    height: 150px; /* Set the initial height of the container */
    width: 150px;
    overflow: hidden; /* Hide the overflow when the image size changes */
    position: absolute;
    top: -50px;
    
  }


  #logo {
    width: 150px; /* Set the initial width of the image of the hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    justify-content: flex-start;
    position: absolute;
    left: 10px;
    top: -5px;
  }

  /* Style the navbar links */
  #navbar a {
    font-weight: bold;
    position: relative;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
  }

  a{
    transition: all 0.5s ease-out;
  }

  h1 {
    padding: 20px;
    padding-bottom: 0px;
    font-family: 'Savoye LET Plain', sans-serif ;
    font-size: 40px;
    font-style: italic;
    opacity: 1;
    background-color: #000000;
    color: #ffffff;
  }


  body {

  }

  footer {
    bottom: 100%;
    width: 100%;
    background-color:bisque;
  }
  
  /* Links on mouse-over */
  #navbar #logo:hover {
    /*background-color: #1f1fb3;
    color: black;
    right: 200%;*/
  }

  #navbar .link:hover, .link:focus{
    background-color: #ddfffe;
    opacity: 0.8;
    color: black;
  }

  /*.dropbtn {
    font-weight: 100;
    position: relative;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;  Spacing between links, adjust as needed 
  }

  #navbar .dropdown-content .list {
    white-space: nowrap; Allows content in one line
    color: white;
    
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9d9d9d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/
  
  /* Style the active/current link 
  #navbar b.active {
    background-color: dodgerblue;
    color: white;
  }*/
  
  /* Display spacing below the logo for the links within the navbar */
  #navbar-center {
    margin-top: 0px; /*Adjust as needed*/
  }
  
  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    #logo {
      width: 150px; /* Set the initial width of the image of the hover */
      transition: transform 0.3s ease; /* Add a smooth transition effect */
      margin-top: 10px;
      left: 10px;
    }

    #navbar #navbar-center {
      padding: 0px;
    }

    #navbar a {
      float: none;
      display: block;
      text-align: left;
      margin-bottom: 10px;
    }

    #navbar-right {
      float: none;
    }
  }
